@page "/Test"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Test :-)</PageTitle>
<h1>Test</h1>

<div>
Nenávidim lidi :---), pozdraveno @hellos krát
@if (lastGreet != "")
{
    <span>(Naposledy pozdraven @lastGreet)</span>
}
</div>

<button @onclick="Greet">Pozdravit!</button>

@code {
    private HubConnection? _hubConnection;
    private int hellos = 0;
    private string lastGreet = "";

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/api/v1/feed/hello"))
            .Build();

        _hubConnection.On<string>("UpdateCount", async (w) =>
        {
            hellos++;
            lastGreet = w;
            await InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async Task Greet()
    {
        if (_hubConnection != null) await _hubConnection.SendAsync("CountHello");
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection != null) await _hubConnection.DisposeAsync();
    }

}